.card-img-top{
  width: 100%;
  height: 200px;
}
.line-clamp {
  overflow: hidden; /* Hide any overflowing content */
  display: -webkit-box; /* Set the display type as a flex container for compatibility with some browsers */
  -webkit-line-clamp: 1; /* Limit the text to 3 lines */
  -webkit-box-orient: vertical; /* Set the flex direction to vertical */
}